body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
nav::before{
    content: "";
    background-color:#2D25A0;
    position: absolute;
    top: 0px;
    opacity: .7;
    width: 100%;
    height: 60px;
    z-index: -1;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;  
}

ul{
    display: flex;  
}
li{
 list-style: none;
 margin-left: 40px;

}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
nav button{
    border-radius: 12px;
    margin-right: 40px;
}
.title-section{
 display: flex;
 background-color: #2D25A0;
 align-items: center; 
 padding-top: 2em;
}
.title-heading{
    font-size: 3.5rem!important;
}

.description{
    width: 50%;
    padding:5%;  
}
.description h1{
    font-size: 2.5rem ;
    color: white;
    margin-bottom: 20px;
}
@keyframes color {
    0%{
        color:white;
    }
    50%{
        color:red;
    }
    100%{
      color: rgb(207, 142, 57);
    }
}
.title-section:hover h1{
    animation: color 3s ease-in-out 1s infinite; 
}
.description img{
    width: 100%;
}
.button{
    background-color: #E02C6D;
    padding: 10px 28px;
    color: white;
    font-size: 16px;
    border: none;
}
.button span{
    margin-right: 8px;
}
.footballers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 4rem;
    grid-gap: 25px;
}
.player{
    padding: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    transition: transform .5s ease-out;
    overflow: hidden;
  
}
.player:hover{
    transform: scale(1.07);
    
}
.player-image img{
  width: 100%;
}
.player-info p,.bottom-section p{
      font-weight: 400px;
      color:#6C6C6C;
}
.bottom-section{
    display: flex;
    align-items: center;
}
.bottom-section h1{
    color: black;
}
.video-section{
    margin: 2rem 4rem;
}
.news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.video-section h1{
    font-size: 2.5rem;
}
.news p{
    color: gray;
}
iframe{
    width: 100%;
    border-radius: 20px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:60px 0px;
}
.fab ,.fas{
    font-size: 32px;
    background-color: #969bab57;
    border-radius: 50%;
    margin-left: 14px;
    padding: 8px;
    color: #969BAB;
}
.icon{
    margin:10px 0px;   
}
.icon i{
    color: #10437a;   
}
.footer p{
    font-size: 15px;
    font-weight: 400px;
}
.footer-image img{
    width: 70%;
    height: 100px;
    margin-left: 60px;
}
.video-des h2{
margin-bottom: 0px;
}
.video-des p{
margin-top: 5px;
}
@media only screen and (max-width:688px) {
    .title-section{
        flex-wrap: wrap;
       }
       .description h1{
        font-size: 2.5rem;
    }
    nav{
        display: none;
    }
       .footballers{
        grid-template-columns: repeat(1,1fr);
        margin: 2rem;
    }
    .title-heading{
        font-size: 2.8rem!important;
    }
    .bottom-section{
      flex-wrap: wrap;
      text-align: center;
    }
    .description{
        width: 100%;
        padding:5%;  
    }
    .description img{
        width: 100%;
    }
    .news{
        grid-template-columns: repeat(1,1fr);
    }
    .video-section{
        margin: 2rem 2rem;
    }
}
@media only screen and (min-width:688px) and (max-width:992px) {
    .title-section{
        flex-wrap: wrap;
       }
       
       .footballers{
        grid-template-columns: repeat(2,1fr);
        margin: 3rem;
    }
    .bottom-section{
      flex-wrap: wrap;
      text-align: center;
    }
    .description{
        width: 100%;
        padding:5%; 
    }
    .description img{
        width: 80%;
    }
    .title-heading{
        font-size: 5rem!important;
    }
    li{
        margin-left: 25px;
       }
       a{
           font-size: 16px;
       }
    .news{
        grid-template-columns: repeat(2,1fr);
    }
    .video-section{
        margin: 2rem 3rem;
    }
}