body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
}
ul{
    display: flex;
    
}
li{
 list-style: none;
 margin-left: 36px;
}
a{
    text-decoration: none;
}
.title-section{
 display: flex;
 background-color: #2D25A0;
 align-items: center;

 
}
.description{
    width: 50%;
    margin-left: 156px;
    margin-top: 135px;
    margin-bottom: 86px;
    
}
.description h1{
    font-size: 64px ;
    color: white;
    margin-bottom: 27px;
}
@keyframes color {
    0%{
        color:white;
    }
    50%{
        color:red;
    }
    100%{
      color: rgb(207, 142, 57);
    }
}
.title-section:hover h1{
    animation: color 3s ease-in-out 1s infinite;
    
}
.description img{
    width: 80%;
}
.button{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    font-size: 16px;
    border: none;
}
.button span{
    margin-right: 8px;
}
.footballers{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 70px 200px;
    grid-gap: 30px;

}
.player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);;
}
.player-image img{
  width: 100%;
}
.player-info p,.bottom-section p{
      font-weight: 400px;
      color:#6C6C6C;
}
.bottom-section{
    display: flex;
    
    align-items: center;
}
.bottom-section h1{
    color: black;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:60px 0px;
}
.fab ,.fas{
    font-size: 32px;
    background-color: #969bab57;
    border-radius: 50%;
    margin-left: 14px;
    padding: 8px;
    color: #969BAB;
}
.icon{
    margin:20px 0px;
}
.footer p{
    font-size: 18px;
    font-weight: 400px;
}
.footer-image img{
    width: 480px;
    height: 110px;
}
