body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
nav::before{
    content: "";
    background-color:#2D25A0;
    position: absolute;
    top: 0px;
    opacity: .5;
    width: 100%;
    height: 50px;
    z-index: -1;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}
ul{
   
    display: flex;
    
}
li{
 list-style: none;
 margin-left: 36px;

}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.title-section{
 display: flex;
 background-color: #2D25A0;
 align-items: center; 
}
.description{
    width: 50%;
    padding:5%;
    
}
.description h1{
    font-size: 3rem ;
    color: white;
    margin-bottom: 20px;
}
@keyframes color {
    0%{
        color:white;
    }
    50%{
        color:red;
    }
    100%{
      color: rgb(207, 142, 57);
    }
}
.title-section:hover h1{
    animation: color 3s ease-in-out 1s infinite; 
}
.description img{
    width: 80%;
}
.button{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: white;
    font-size: 16px;
    border: none;
}
.button span{
    margin-right: 8px;
}
.footballers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 4rem;
    grid-gap: 30px;
}
.player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   transition: transform .5s ease-out;
   overflow: hidden;
  
}
.player:hover{
    transform: scale(1.2);
}
.player-image img{
  width: 100%;
}
.player-info p,.bottom-section p{
      font-weight: 400px;
      color:#6C6C6C;
}
.bottom-section{
    display: flex;
   align-items: center;
}
.bottom-section h1{
    color: black;
}
.video-section{
    margin: 100px 100px;
}
.news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.video-section h1{
    font-size: 40px;
}
.news p{
    color: gray;
}
iframe{
    width: 95%;
    border-radius: 25px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:60px 0px;
}
.fab ,.fas{
    font-size: 32px;
    background-color: #969bab57;
    border-radius: 50%;
    margin-left: 14px;
    padding: 8px;
    color: #969BAB;
}
.icon{
    margin:20px 0px;
}
.footer p{
    font-size: 18px;
    font-weight: 400px;
}
.footer-image img{
    width: 480px;
    height: 110px;
}
@media only screen and (max-width:688px) {
    .title-section{
        flex-wrap: wrap;
       }
       .description h1{
        font-size: 40px;
    }
    nav{
        display: none;
    }
       .footballers{
        grid-template-columns: repeat(1,1fr);
    }
    .bottom-section{
      flex-wrap: wrap;
    }
    .news{
        grid-template-columns: repeat(1,1fr);
    }
}
@media only screen and (min-width:688px) and (max-width:992px) {
    .title-section{
        flex-wrap: wrap;
       }
       
       .footballers{
        grid-template-columns: repeat(2,1fr);
    }
    .bottom-section{
      flex-wrap: wrap;
    }
    nav{
        display: none;
    }
    .news{
        grid-template-columns: repeat(2,1fr);
    }
}